<nav class="navbar navbar-default">
	<a class="navbar-brand" href="/">SocialCal</a>
	<div class="navbar-nav">
		<%= link_to 'University', tag_path('University'), class: 'nav-item nav-link btn-link' %>
		<%= link_to 'Local', tag_path('Local'), class: 'nav-item nav-link btn-link' %>
		<%= link_to 'Music', tag_path('Music'), class: 'nav-item nav-link btn-link' %>
		<%= link_to 'Educational', tag_path('Educational'), class: 'nav-item nav-link btn-link' %>
		<%= link_to 'Culture', tag_path('Culture'), class: 'nav-item nav-link btn-link' %>
		<%= link_to 'Food', tag_path('Food'), class: 'nav-item nav-link btn-link' %>
		<%= link_to 'Family', tag_path('Family'), class: 'nav-item nav-link btn-link' %>
	</div>
	</div>
</nav>