<p id="notice"><%= notice %></p>

<h1>All Events</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'University', tag_path('university') %></th>
      <th><%= link_to 'Local', tag_path('local') %></th>
      <th><%= link_to 'Music', tag_path('music') %></th>
      <th><%= link_to 'Educational', tag_path('educational') %></th>
      <th><%= link_to 'Culture', tag_path('Culture') %></th>
      <th><%= link_to 'Food', tag_path('food') %></th>
      <th><%= link_to 'Family', tag_path('family') %></th>
    </tr>
  </thead>
</table>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Tag</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <%= image_tag(event.imageURL) %>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.tag %></td>
        <td><%= event.latitude %></td>
        <td><%= event.longitude %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
