<%= form_for(event, html: {class: 'form'}) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :imageURL, class: 'col-sm-2 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :imageURL, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-9">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :date, class: 'col-sm-2 control-label' %>
    <div class="col-sm-9">
      <%= f.datetime_select :date, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :latitude, class: 'col-sm-2 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :latitude, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :longitude, class: 'col-sm-2 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :longitude, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :tag, class: 'col-sm-2 control-label' %>
    <div class="col-sm-9">
      <%= f.select :tag, options_for_select(["University", "Local", "Music", "Educational", "Culture", "Food", "Family"]), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-9" style="padding-top: 20px;">
      <%= f.submit 'Submit', class: 'btn' %>
    </div>
  </div>
<% end %>
